<html>
<head>
        <title>Log Out</title>
        <style>
            .text-block {
	  position: absolute;
	  padding-left: 20px;
	  padding-right: 20px;
	  background: black;
  	  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  	  color:rgb(205, 207, 77);;
  	  width: 80%;
	}
        </style>
</head>
<body style="background-image: url('static/images/movie-element-premium.jpg'); background-repeat: no-repeat; background-size:cover;background-position: center;height:100%;width:100%">
    <h1 style="margin-left: 200px; margin-top: 80px; color: rgb(205, 207, 77);"><div class="text-block">Thank You for Visiting Us!</h1><br/><br/>
    </div></body>
</html>